{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_register.css' %}" />
</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Hello friends.</h1>
		<p>Manage your daily budget with us</p>
		<span>
			<p>login with social media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
		</span>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Login</h5>
     <form method="POST">
      {% csrf_token %}
		<div class="inputs">
      <!-- Username -->
      <div type="text" placeholder="username">{{form.username}}</div>
			<!-- <input type="text" placeholder="user name" > -->
			<br>
      <!-- Password -->
      <div type="password" placeholder="password">{{form.password}}</div>
			<!-- <input type="password" placeholder="password" > -->
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>forget password?</p>
		</div>
			<br>
      <!-- <input type="submit" value="Login"> -->
			<button type="submit">Sign Up</button>
	</div>
</form>	
	
</div>
<!-- partial -->
  
</body>
</html>
